<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a888888888.sport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-configuration android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.exercise" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="necowneco.tablayout.habaActivity"
            android:label="@string/title_activity_haba"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="kelvin.tablayout.EnlargeImageView" />
        <activity android:name="kelvin.tablayout.MainActivityFireBase" />
        <activity android:name="kelvin.tablayout.StartActivity" />
        <activity
            android:name="kelvin.tablayout.RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="kelvin.tablayout.LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name="kelvin.tablayout.SettingsActivity" />
        <activity
            android:name="kelvin.tablayout.StatusActivity"
            android:parentActivityName="kelvin.tablayout.SettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="kelvin.tablayout.ProfileActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="kelvin.tablayout.lapitchat_TARGET_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="kelvin.tablayout.ChatActivity"
            android:parentActivityName="kelvin.tablayout.MainActivityFireBase" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name="kelvin.tablayout.Sit_up_task" />
        <activity android:name="kelvin.tablayout.Walking_monitor" />
        <activity android:name="kelvin.tablayout.RunningMonitor" />
        <activity android:name="kelvin.tablayout.YogaMonitor" />
        <activity android:name="kelvin.tablayout.CrunchesMonitor" />
        <activity android:name="kelvin.tablayout.SquatsMonitor" />
        <activity android:name="kelvin.tablayout.Exercise_main" />
        <activity android:name="kelvin.tablayout.ExerciseHistory" />
        <activity android:name="kelvin.tablayout.Walking_hour_history" />
        <activity android:name="kelvin.tablayout.WalkingHistory" />
        <activity android:name="kelvin.tablayout.RunningDayHistory" />
        <activity android:name="kelvin.tablayout.RunningHourHistory" />
        <activity android:name="kelvin.tablayout.RunningHistory" />
        <activity android:name="kelvin.tablayout.YogaDayHistory" />
        <activity android:name="kelvin.tablayout.YogaHourHistory" />
        <activity android:name="kelvin.tablayout.YogaHistory" />
        <activity android:name="kelvin.tablayout.SquatsDayHistory" />
        <activity android:name="kelvin.tablayout.SquatsHourHistory" />
        <activity android:name="kelvin.tablayout.SquatsHistory" />
        <activity android:name="kelvin.tablayout.CrunchesDayHistory" />
        <activity android:name="kelvin.tablayout.CrunchesHourHistory" />
        <activity android:name="kelvin.tablayout.CrunchesHistory" />
        <activity android:name="kelvin.tablayout.Yoga_task" />
        <activity android:name="kelvin.tablayout.Squats_task" />
        <activity android:name="kelvin.tablayout.Running_task" />
        <activity android:name="kelvin.tablayout.Crunches_task" />
        <activity android:name="kelvin.tablayout.Walking_task" />
        <activity android:name="kelvin.tablayout.FriendActivity" />
        <activity android:name="kelvin.tablayout.TaskProfile" />
        <activity android:name="kelvin.tablayout.PieChartActivity"></activity>
    </application>

</manifest>